body {
	background-color: #fffffe;
}

header h1 {
	color: #20202d;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

header h2 {
	text-align: center;
	font-family: 'Arial', serif;
}

nav {
	text-align: center;
}

nav li {
	margin: 0 2em;
	padding: .75em 0em;
	display: inline-block;
}

nav li:hover {
	background-color: #DBC1B8;
}

nav a {
	text-decoration: none;
	color: #20202d;
	margin: 5px;
	font-family: Arial, serif;
}

/* 
*
*
PORTFOLIO GRID
*
*
*/

.container {
	width: 80%;
	margin: 0 auto;
}

.wrapper {
	margin: 1px;
}

.col1, .col2, .col3 {
	margin: .25;
}

.col1 img, .col2 img, .col3 img {
	width: 99%;

}

.col1 img:hover, .col2 img:hover, .col3 img:hover {
	opacity: .7;
}

.col1, .col1:before {
	width: 33%;
}

.col1 {
	display: inline-block;
	vertical-align: top;
}

.col1:before {
	content: "";
	top: 0;
	bottom: 0;
	z-index: -1;
	left: 0;
}

.col2, .col2:before {
	width: 33%;
}

.col2 {
	display: inline-block;
	vertical-align: top;
}

.col2:before {
	content: "";
	top: 0;
	bottom: 0;
	z-index: -1;
	left: 33.3%;
}

.col3, .col3:before {
	width: 33%;
}

.col3 {
	display: inline-block;
	vertical-align: top;
}

.col3:before {
	content: "";
	top: 0;
	bottom: 0;
	z-index: -1;
	left: 66.3%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ***********FOOTER************* */

footer {
	width: 100%;
	clear: both;
}

footer p {
	text-align: center;
}


/*
//cell phone

@media screen and (max-width: 480px) {
	.portfolio {
		width: 100%;
	}

}
*/